.login-container {
    max-height: 100vh;
    .container {
        .login-box {
            border-radius: 10%;
            background-color: #d6c0af;
            .selected-language {
                font-weight: bold;
                color: #714B67;
            }
            .unselected-language {
                font-weight: bold;
                color: #8C7A7A;
            }
            .logo {}
            .login-text {}
            .form-group {
                .input-group {
                    .input-group-append {
                        .icon {
                            background-color: #714B67;
                            border-color: #714B67;
                            color: white;
                        }
                    }
                }
            }
            .login-button {
                .button-div {
                    .btn:hover {
                        background-color: rgb(85, 40, 76) !important;
                    }
                }
            }
        }
    }
}