.container-view-quote {
    height: 1200px;
    .wrapper-content-view-quote {
        display: flex;
        .content-left {
            width: 30%;
            .fixed-content-left {
                width: 160px;
                display: flex;
                flex-direction: column;
                .btn-accept,
                .btn-view-detail {
                    width: 100%;
                }
                .btn-view-detail {
                    margin-top: .5rem;
                    color: #FFFFFF;
                    background-color: #8595A2;
                    border-color: #8595A2;
                }
            }
        }
        .content-right {
            width: 70%;
            .wrap-inf-quote {
                color: #374151;
                .inf-selling {
                    .label-date,
                    .label-expiration {
                        font-weight: bold;
                        width: 32%;
                    }
                }
            }
            .row {
                margin-top: 24px;
                .wrapper-price {
                    .bottom-line {
                        border-bottom: 1px solid #ccc;
                        padding-bottom: 2px;
                        .title-price-before-tax,
                        .title-total {
                            font-weight: bold;
                            color: #374151;
                        }
                    }
                }
                .col-signatured {
                    .wrap-img-signatured {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .signatured {
                            max-height: 5rem;
                            max-width: 100%;
                            // margin-left   : 16%;
                            vertical-align: middle;
                            text-align: center;
                            margin-bottom: -12px;
                        }
                    }
                    .signatured-text {
                        margin-left: 4px;
                    }
                }
            }
            .btn-actions {
                margin-top: 60px;
                .btn-reply {
                    color: #FFFFFF;
                    background-color: #8595A2;
                    border-color: #8595A2;
                }
            }
        }
    }
}

.wrapper-signature-canvas {
    border: 1px solid #ccc;
    margin-top: 24px;
    border-radius: 3px;
    background-color: #f8f9fa;
    position: relative;
    .header-signature-actions {
        border-bottom: 1px solid #ccc;
        padding: 0.5rem 1rem;
        .btn-actions {
            .btn-draw,
            .btn-upload {
                background-color: #eeeeee;
                border-color: #eeeeee;
            }
        }
    }
    .line-signature {
        position: absolute;
        z-index: 3;
        border-top: #D1D0CE solid 2px;
        bottom: 33%;
        width: 72%;
        left: 14%;
        top: 60%;
        height: 2px;
    }
    .image-signature-uploaded {
        width: 760px;
        height: 200px;
        .img-signature-uploaded {
            width: 100%;
            height: 100%;
        }
    }
    .wrapper-auto-signature,
    .wrapper-draw-signature {
        position: relative;
        height: 200px;
        width: 760px;
        .auto-signature,
        .sigCanvas {
            position: absolute;
            z-index: 2;
            text-align: center;
        }
    }
}