<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase</title>
</head>

<body>
    <h1>This is the homepage of purchase</h1>
    <h2>
        Test get data:
        <%=data %>
    </h2>
</body>

</html>