.name-company-logo {
    .name-company {
        width: 85%;

        .label-name-company {
            font-size  : 0.875rem;
            line-height: 1.5;
            font-weight: 500;
            color      : #111827;
        }

        .input-name-company {
            outline      : none;
            border       : none;
            border-bottom: 1px solid #fff;

            &:hover,
            &:focus {
                border-bottom: 1px solid #000;
            }
        }
    }

    .wrap-img-logo {
        width          : 25%;
        display        : flex;
        justify-content: flex-end;

        .label-upload {
            height : fit-content;
            padding: 2px;
            border : 1px solid #ccc;
        }



        .icon-upload {
            color     : #ccc;
            // float  : right;
            height    : 50px;
            width     : 50px;
            padding   : 4px;
        }

        .label-upload {
            // padding         : 5px;
            border-radius   : 4px;
            margin-right    : 4px;
            // background   : #ddd;
            cursor          : pointer;

            &:hover {
                opacity: 0.9;
            }
        }

        .preview-image {
            padding        : 4px;
            height         : 58px;
            width          : 20%;
            background     : center center no-repeat;
            background-size: contain;
            cursor         : pointer;
        }
    }
}

.wrap-content-body {
    margin-top: 32px;

    .heading-content-body {
        .two-blocks {
            border-bottom: 1px solid #d8dadd;
            margin       : 0px -16px;

            .general-inf {
                margin     : 0 -1px 0 0;
                margin-left: 16px;
            }

            .general-inf,
            .branch {
                padding     : 8px 16px;
                border-width: 1px 1px 0 1px;
                border-style: solid;
                border-color: #ccc;

                &:hover {
                    cursor: pointer;
                }
            }

            .active {
                border-top   : 1px solid #714B67;
                border-bottom: 1px solid white;
                margin-bottom: -1px;
            }


        }

    }

    .body-content {
        padding: 16px 0;

        .col-6 {
            margin-bottom: 8px;

            label {
                width: 20%;
            }

            input,
            select {
                width       : calc(80% - 12px);
                margin-left : 12px;
                border      : none;
                outline     : none;
                border      : 1px solid #fff;
                border-width: 0 0 1px 0;

                &:hover {
                    border      : 1px solid #ccc;
                    border-width: 0 0 1px 0;
                }

                &:focus {
                    border      : 1px solid #017e84;
                    border-width: 0 0 1px 0;
                }
            }
        }
    }

    .body-content-sub-company {
        .table-sub-company {
            .add-sub-company {
                color : #017e84;
                cursor: pointer;
            }
        }
    }
}

.btn-cancel-data-company {
    color           : #374151 !important;
    background-color: #e7e9ed !important;
    border-color    : #e7e9ed !important;
    font-weight     : 500 !important;
    line-height     : 1.5 !important;

    &:hover {
        color           : #1F2937 !important;
        background-color: #d8dadd !important;
        border-color    : #d8dadd !important;
    }
}