.body-content-sub-company {
    .table-products {
        .add-sub-company {
            color : #017e84;
            cursor: pointer;
        }

        td {
            .empty-data {
                border-radius: 0px;
                border-bottom: 1px solid red !important;
            }
        }
    }
}