.wrapper-create-employee {
    background-color: #ccc;
    height          : 100vh;

    .header-create {
        padding         : 4px 12px;
        height          : 84px;
        border-bottom   : 1px solid #eee;
        background-color: #fff;

        .title-create {
            font-size  : 1.3em;
            font-weight: 500;
            color      : #632c54;
        }
    }

    .create-employee-container {
        border          : 1px solid #ccc;
        border-radius   : 3px;
        margin-top      : 12px;
        height          : 300px;
        background-color: #fff;

        .name-position-avatar {
            display: flex;
            padding: 24px;

            .name-position {
                width         : 75%;
                display       : flex;
                flex-direction: column;
                margin-right  : 10px;

                .name-employee {
                    line-height: 1.9rem;
                    height     : 50px;
                    font-size  : 30px;
                }

                .name-employee,
                .position-employee {
                    outline: none;
                    border : none;

                    &:focus {
                        border-bottom: 1px solid #ccc;
                    }
                }
            }

            .avatar {
                width          : 25%;
                display        : flex;
                justify-content: flex-end;

                .icon-upload {
                    color     : #ccc;
                    border    : 1px solid #ccc;
                    // float  : right;
                    height    : 50px;
                    width     : 50px;
                    padding   : 4px;
                }

                .label-upload {
                    // padding         : 5px;
                    border-radius   : 4px;
                    margin-right    : 4px;
                    // background   : #ddd;
                    cursor          : pointer;

                    &:hover {
                        opacity: 0.9;
                    }
                }

                .preview-image {
                    padding        : 4px;
                    height         : 50px;
                    width          : 20%;
                    border         : 1px solid #ddd;
                    background     : center center no-repeat;
                    background-size: contain;
                    cursor         : pointer;
                }
            }
        }

        .information-detail {
            padding: 0 24px;
            display: flex;

            // gap    : 8px;
            .label-input {
                width: 21%;
            }

            .input-inf {
                width  : 79%;
                outline: none;
                border : none;

                &:focus {
                    border-bottom: 1px solid #ccc;
                }
            }

            .wrap-department {
                .position-select {
                    width  : 100%;
                    outline: none !important;
                    border : none !important;
                }
            }

            .select-gender-wrap {
                .select-gender {
                    border          : none !important;
                    padding-left    : 28px !important;
                    background-image: none !important;

                    &:focus {
                        border-color: transparent;
                        outline     : 0;
                        box-shadow  : none;
                    }
                }
            }
        }
    }
}